#!/usr/bin/env bash

USER_DIR="${USER_DIR:-${XDG_CONFIG_HOME:-$HOME/.config}/prb}"

source "$USER_DIR/aliases/basics.sh"
source "$USER_DIR/aliases/locations.sh"

{{- if eq .chezmoi.os "darwin" }}
source "$USER_DIR/aliases/macos.sh"
{{- end }}
