#!/usr/bin/env bash

###############################################################################
# APIs                                                                        #
###############################################################################

# shellcheck disable=SC1003
# Blockscout
export API_KEY_BLOCKSCOUT='{{ onepasswordRead "op://Keys/Blockscout/credential" | replace "'" "'\\''" }}'
export BLOCKSCOUT_API_KEY='{{ onepasswordRead "op://Keys/Blockscout/credential" | replace "'" "'\\''" }}'

# Etherscan
export API_KEY_ETHERSCAN='{{ onepasswordRead "op://Keys/Etherscan/credential" | replace "'" "'\\''" }}'
export ETHERSCAN_API_KEY='{{ onepasswordRead "op://Keys/Etherscan/credential" | replace "'" "'\\''" }}'

# RouteMesh
export ROUTEMESH_API_KEY='{{ onepasswordRead "op://Keys/RouteMesh/credential" | replace "'" "'\\''" }}'

# GitHub
export GITHUB_TOKEN='{{ onepasswordRead "op://Keys/GitHub/credential" | replace "'" "'\\''" }}'

# npm
export NPM_TOKEN='{{ onepasswordRead "op://Keys/npm/credential" | replace "'" "'\\''" }}'

###############################################################################
# Languages and Tools                                                         #
###############################################################################

# Foundry
export FOUNDRY_DISABLE_NIGHTLY_WARNING="true"

# fzf
export FZF_ALT_C_COMMAND='fd --type d --hidden --exclude .git --exclude .DS_Store | sort'
export FZF_CTRL_T_COMMAND='fd --type f --hidden --exclude .git --exclude .DS_Store | sort'
export FZF_DEFAULT_COMMAND="$FZF_CTRL_T_COMMAND"
export FZF_DEFAULT_OPTS='--no-sort'

# OpenSSL
if [[ -n "${HOMEBREW_PREFIX:-}" && -d "$HOMEBREW_PREFIX/opt/openssl" ]]; then
  export CPPFLAGS="-I$HOMEBREW_PREFIX/opt/openssl/include"
  export LDFLAGS="-L$HOMEBREW_PREFIX/opt/openssl/lib"
fi

# Homebrew
export HOMEBREW_CLEANUP_MAX_AGE_DAYS="${HOMEBREW_CLEANUP_MAX_AGE_DAYS:-30}"
export HOMEBREW_NO_AUTO_UPDATE=1

# Editor (nvim for Ctrl+G in Claude Code and other tools)
export EDITOR="nvim"
export VISUAL="nvim"

# Xcode
# https://stackoverflow.com/q/51314888/3873510
if command -v xcrun >/dev/null; then
  xcode_cache_dir="${XDG_CACHE_HOME:-$HOME/.cache}/xcrun"
  xcode_cache_file="$xcode_cache_dir/sdk-path"
  if [[ -r "$xcode_cache_file" ]]; then
    sdk_path=$(<"$xcode_cache_file")
  else
    mkdir -p "$xcode_cache_dir"
    sdk_path=$(xcrun --show-sdk-path)
    [[ -n "$sdk_path" ]] && printf '%s\n' "$sdk_path" >|"${xcode_cache_file}"
  fi
  export SDKROOT="$sdk_path"
fi
